In [77]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [78]:
data=sns.load_dataset('iris')

In [79]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [80]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [82]:
data['species'].count()

150

In [83]:
data['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [84]:
species=data['species'].unique()

In [85]:
species

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [86]:
datatypes=data.select_dtypes(include='float64')

In [87]:
datatypes

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [88]:
group=data.groupby('species')

In [89]:
group.head()

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica

In [90]:
for s in species:
    g=group.get_group(s)
    print(s,"\n")
    print(g.describe())

setosa

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000
versicolor

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
virginica

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [104]:
def minVal(items):
    mini=100;
    for item in items:
        if mini>item:
            mini=item
    return mini

In [105]:

def maxVal(items):
    maxi=0;
    for item in items:
        if maxi<item:
            maxi=item
    return maxi

In [106]:
def giveMedian(data):
    items=sorted(data)
    n=len(data)
    val=0
    if n%2==0:
        val=(items[int(n/2)]+items[int(n/2)-1])/2
    else :
        val=items[int(n/2)]
    return val

In [107]:

def statistic(data):
    mean=sum(data)/len(data)
    median=giveMedian(data)
    minval=minVal(data)
    maxval=maxVal(data)
    var=sum((x-mean)**2 for x in data)/len(data)
    std=(var)**0.5
    print(f"Mean : {mean}\n")
    print(f"Median : {median}\n")
    print(f"min : {minval}\n")
    print(f"max : {maxval}\n")
    print(f"var : {var}\n")
    print(f"std : {std}\n")

In [108]:
for s in species:
    sp_data=group.get_group(s)
    
    for i in datatypes:
        print('\n',s,'-',i,'\n')
        statistic(sp_data[i])

 setosa - sepal_length

Mean : 5.005999999999999

Median : 5.0

min : 4.3

max : 5.8

var : 0.12176399999999993

std : 0.348946987377739


 setosa - sepal_width

Mean : 3.428000000000001

Median : 3.4

min : 2.3

max : 4.4

var : 0.14081599999999997

std : 0.3752545802518604


 setosa - petal_length

Mean : 1.4620000000000002

Median : 1.5

min : 1.0

max : 1.9

var : 0.02955600000000001

std : 0.17191858538273286


 setosa - petal_width

Mean : 0.2459999999999999

Median : 0.2

min : 0.1

max : 0.6

var : 0.010884000000000007

std : 0.10432641084595984


 versicolor - sepal_length

Mean : 5.936

Median : 5.9

min : 4.9

max : 7.0

var : 0.2611040000000001

std : 0.5109833656783752


 versicolor - sepal_width

Mean : 2.7700000000000005

Median : 2.8

min : 2.0

max : 3.4

var : 0.09650000000000002

std : 0.31064449134018135


 versicolor - petal_length

Mean : 4.26

Median : 4.35

min : 3.0

max : 5.1

var : 0.21640000000000012

std : 0.4651881339845204


 versicolor - petal_width

Mean : 1.3259999999999998

Median : 1.3

min : 1.0

max : 1.8

var : 0.03832399999999998

std : 0.19576516544063702


 virginica - sepal_length

Mean : 6.587999999999998

Median : 6.5

min : 4.9

max : 7.9

var : 0.39625599999999994

std : 0.6294886813914925


 virginica - sepal_width

Mean : 2.9739999999999998

Median : 3.0

min : 2.2

max : 3.8

var : 0.10192400000000007

std : 0.319255383666431


 virginica - petal_length

Mean : 5.552

Median : 5.55

min : 4.5

max : 6.9

var : 0.2984960000000002

std : 0.5463478745268441


 virginica - petal_width

Mean : 2.026

Median : 2.0

min : 1.4

max : 2.5

var : 0.07392399999999999

std : 0.2718896835115301